# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Virtual environment
.venv/
env/
venv/

# VSCode
.vscode/

# IDEs
.idea/

# pytest
.cache/
nosetests.xml
coverage.xml
*.cover
*.hypothesis/
*.tox/
*.nox/

# FastAPI
*.log

# Jupyter Notebooks
.ipynb_checkpoints

# Pipenv
Pipfile.lock

# Poetry
*.egg-info/
dist/
build/

# macOS
.DS_Store

# Windows
Thumbs.db
